<h2>Episode</h2>

<form {{action save on="submit"}}>
  
  <p>
    <label for="show_id">Show id</label><br>
    {{view Ember.TextField valueBinding="show_id" id="show_id"}}
  </p>
  
  <p>
    <label for="episode_id">Episode id</label><br>
    {{view Ember.TextField valueBinding="episode_id" id="episode_id"}}
  </p>
  
  <p>
    <label for="season">Season</label><br>
    {{view Ember.TextField valueBinding="season" id="season"}}
  </p>
  
  <p>
    <label for="poster">Poster</label><br>
    {{view Ember.TextField valueBinding="poster" id="poster"}}
  </p>
  
  <p>
    <label for="date">Date</label><br>
    {{view Ember.TextField valueBinding="date" id="date"}}
  </p>
  
  <p>
    <label for="name">Name</label><br>
    {{view Ember.TextField valueBinding="name" id="name"}}
  </p>
  
  <p>
    <label for="summary">Summary</label><br>
    {{view Ember.TextField valueBinding="summary" id="summary"}}
  </p>
  
  <p>
    <label for="watched">Watched</label><br>
    {{view Ember.TextField valueBinding="watched" id="watched"}}
  </p>
  
  <p>
    <button type="submit">Save</button>
  </p>

</form>

