<h2>Show</h2>

<form {{action save on="submit"}}>
  
  <p>
    <label for="imdb_id">Imdb id</label><br>
    {{view Ember.TextField valueBinding="imdb_id" id="imdb_id"}}
  </p>
  
  <p>
    <label for="zap2_id">Zap2 id</label><br>
    {{view Ember.TextField valueBinding="zap2_id" id="zap2_id"}}
  </p>
  
  <p>
    <label for="channel_id">Channel id</label><br>
    {{view Ember.TextField valueBinding="channel_id" id="channel_id"}}
  </p>
  
  <p>
    <label for="poster">Poster</label><br>
    {{view Ember.TextField valueBinding="poster" id="poster"}}
  </p>
  
  <p>
    <label for="pilot_date">Pilot date</label><br>
    {{view Ember.TextField valueBinding="pilot_date" id="pilot_date"}}
  </p>
  
  <p>
    <label for="name">Name</label><br>
    {{view Ember.TextField valueBinding="name" id="name"}}
  </p>
  
  <p>
    <label for="summary">Summary</label><br>
    {{view Ember.TextField valueBinding="summary" id="summary"}}
  </p>
  
  <p>
    <label for="lang">Lang</label><br>
    {{view Ember.TextField valueBinding="lang" id="lang"}}
  </p>
  
  <p>
    <label for="rating">Rating</label><br>
    {{view Ember.TextField valueBinding="rating" id="rating"}}
  </p>
  
  <p>
    <label for="episodecount">Episodecount</label><br>
    {{view Ember.TextField valueBinding="episodecount" id="episodecount"}}
  </p>
  
  <p>
    <label for="lst_update">Lst update</label><br>
    {{view Ember.TextField valueBinding="lst_update" id="lst_update"}}
  </p>
  
  <p>
    <label for="watched">Watched</label><br>
    {{view Ember.TextField valueBinding="watched" id="watched"}}
  </p>
  
  <p>
    <button type="submit">Save</button>
  </p>

</form>

