<h2>Episodes</h2>

{{#linkTo "new_episode"}}New Episode{{/linkTo}}


<table>
  <thead>
    <th>show_id</th>
    <th>episode_id</th>
    <th>season</th>
    <th>poster</th>
    <th>date</th>
    <th>name</th>
    <th>summary</th>
    <th>watched</th>
  </thead>
  <tbody>
    {{#each episode in controller}}
    <tr>
      <td>{{ episode.show_id }}</td>
      <td>{{ episode.episode_id }}</td>
      <td>{{ episode.season }}</td>
      <td>{{ episode.poster }}</td>
      <td>{{ episode.date }}</td>
      <td>{{ episode.name }}</td>
      <td>{{ episode.summary }}</td>
      <td>{{ episode.watched }}</td>
      <td>{{#linkTo "episode" episode }}view{{/linkTo}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>


