
{{#linkTo "new_show"}}New Show{{/linkTo}}

<div class="row">
  
    {{#each show in controller}}
    <div class="item small-3 columns browse-list browse-item overlay-trigger" id="{{unbound show.id}}">
          <div class="progress browse-item-rating-progress">
            <div class="browse-item-rating">{{show.ratingText}}</div>
            <span class="meter" style="margin-left: -1px;width: {{unbound this.ratingLength}}%"></span>
          </div>
          <div class="browse-item-splitter">
            {{#linkTo "show" show.id}}
              <img src="../media/posters/{{unbound show.poster}}" alt="media/posters/{{unbound show.poster}}" />
            
            
              <h5>{{show.name}}</h5>
            {{/linkTo}}
          </div>
          <div class="browse-item-actions">
             
              <div class="button small primary follow-button" {{action follow}}> +Follow</div>
              
              
              {{#linkTo "show" show.id}}<div class="button small read-more-button"> More </div>{{/linkTo}}
              
              <div class="clear">&nbsp;</div>
          </div>
        </div>
    {{/each}}
</div>

