
<div class="progress progress-striped browse-item-rating-progress" id="browse-show-rating-progress">
  
  <div class="progress-bar {{unbound progressType}}" style="width: {{unbound ratingLength}}%">
    <div id="browse-show-rating">{{ratingText}}</div>
  </div>

</div>

<div class="container">

<div class="row">
    <div class="col-lg-4">
      <img src="../media/posters/{{unbound poster}}" class="detailsimg"/>
    </div>
    <div class="col-lg-8 columns">
      <div class="row">
        <div class="col-lg-8 columns">
          <h1>{{ name }}</h1>
        </div>
      </div>
      <div class="row">
        
      </div>
      <div class="row">
        <div class="col-lg-8 columns">
          <p>{{summary}}</p>
        </div>
      </div>
        <a class="tiny button radius" {{action follow}}>Add to watchlist</a>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 columns">
      <ul class="inline-list">
      
      </ul>
    </div>
  </div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <h2>Episodes</h2>

{{#linkTo "new_episode"}}New Episode{{/linkTo}}


<table>
  <thead>
    <th>show_id</th>
    <th>episode_id</th>
    <th>season</th>
    <th>poster</th>
    <th>date</th>
    <th>name</th>
    <th>summary</th>
    <th>watched</th>
  </thead>
  <tbody>
    {{#each episode in episodes}}
    <tr>
      <td>{{ episode.show_id }}</td>
      <td>{{ episode.episode_id }}</td>
      <td>{{ episode.season }}</td>
      <td>{{ episode.poster }}</td>
      <td>{{ episode.date }}</td>
      <td>{{ episode.name }}</td>
      <td>{{ episode.summary }}</td>
      <td>{{ episode.watched }}</td>
      <td>{{#linkTo "episode" episode }}view{{/linkTo}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>



{{#link-to-animated "index" animations="main:slideLeft"}}←All Shows{{/link-to-animated}}
{{#link-to "edit_show" model}}Edit{{/link-to}}
<a href="#" {{action "destroy"}}>Destroy</a>
</div>