
<div class="col-lg-12" id="search-area"> 
      <!-- Right Nav Section --> 
        <form method="get" action="">
          {{view Ember.TextField valueBinding="search" action="doSearch" placeholder="Search shows"}}
        </form>
</div>

{{#linkTo "new_show"}}New Show{{/linkTo}}

<div class="container">
<div class="row">
  
    {{#each show in controller}}
    <div class="item col-md-3 browse-list browse-item overlay-trigger" id="{{unbound show.id}}">
          <div class="progress browse-item-rating-progress">
            
            <div class="progress-bar {{unbound show.progressType}}" style="width: {{unbound this.ratingLength}}%">
              <div class="browse-item-rating">{{show.ratingText}}</div>
            </div>
        
          </div>
          <div class="browse-item-splitter">
            {{#link-to-animated "show" show animations="main:slideRight"}}
              <img src="../media/posters/{{unbound show.poster}}" alt="media/posters/{{unbound show.poster}}" />
            
            
              <h5>{{show.name}}</h5>
            {{/link-to-animated}}
          </div>
          <div class="browse-item-actions">
             
              <button class="btn btn-small btn-primary follow-button" {{action follow}}> +Follow</button>
              
              
              {{#link-to-animated "show" show animations="main:slideRight"}}<button class="btn btn-small btn-info read-more-button"> More </button>{{/link-to-animated}}
              
              <div class="clear">&nbsp;</div>
          </div>
        </div>
    {{/each}}
</div>

</div>